<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.geekbrains.spring" />

    <bean id="javaCodeCreator" class="com.geekbrains.spring.examples.JavaCodeCreator">
        <property name="classNameGenerator">
            <ref bean="animalsClassNameGenerator" />
        </property>
    </bean>

    <bean id="cppCodeCreator" class="com.geekbrains.spring.examples.CppCodeCreator">
        <constructor-arg ref="animalsClassNameGenerator" />
    </bean>

    <bean id="animalsClassNameGenerator" class="com.geekbrains.spring.examples.AnimalsClassNameGenerator">

    </bean>

    <!--<bean id="annotatedSimpleBean" class="com.geekbrains.spring.examples.AnnotatedSimpleBean" />-->

    <bean id="simpleBean" class="com.geekbrains.spring.examples.SimpleBean" scope="prototype"/>
</beans>